<div
    class="container"
    ng-controller="SearchCtrl as ctrl">
    <div
        class="page-header">
        <h1>Grocery Search</h1>
    </div>
    <form
        name="SearchForm"
        novalidate="novalidate"
        class="form-inline">
        <div>
            <span
                class="form-group">
                <input
                    id="multiSearchString"
                    class="form-control"
                    size="50"
                    type="text"
                    name="searchString"
                    ng-model="ctrl.multiSearchString"
                    placeholder="Enter partial Brand or Name">
				</span>
				<button
					type="button"
					class="btn btn-info form-control"
					ng-disabled="SearchForm.$invalid"
					ng-click="ctrl.search('multi')">
					Search
				</button>
		  </div>
		  <hr></hr>
        <div>
            <span
                class="form-group">
                <input
                    id="brandSearchString"
                    class="form-control"
                    size="50"
                    type="text"
                    name="brandSearchString"
                    ng-model="ctrl.brandSearchString"
                    placeholder="Brand">
				</span>
				<button
					type="button"
					class="btn btn-info form-control"
					ng-disabled="SearchForm.$invalid"
					ng-click="ctrl.search('brand')">
					Search
				</button>
		  </div>
		  <br>
        <div>
            <span
                class="form-group">
                <input
                    id="nameSearchString"
                    class="form-control"
                    size="50"
                    type="text"
                    name="nameSearchString"
                    ng-model="ctrl.nameSearchString"
                    placeholder="Name">
				</span>
				<button
					type="button"
					class="btn btn-info form-control"
					ng-disabled="SearchForm.$invalid"
					ng-click="ctrl.search('name')">
					Search
				</button>
		  </div>
    </form>
	<hr>
    <div>
        <table
            class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>UPC12</th>
                    <th>Brand</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    ng-repeat="groc in ctrl.groceries">
                    <td>
                        <button
                            type="button"
                            ng-click="ctrl.go_to_edit_page(groc.id)">
                            Edit
                        </button>
                    </td>
                    <td>
									<img 
										ng-src="http://www.barcodes4.me/barcode/c128a/{{groc.upc12}}.png?IsTextDrawn=1"
										height="42"
									>
							</td>
							<td>
									{{groc.brand}}
							</td>
							<td>
									{{groc.name}}
							</td>
						</tr>
                </tbody>
            </table>
        </div>
