<div
    class="container"
    ng-controller="EditCtrl as ctrl">
    <div
        class="page-header">
        <h1>Grocery Edit</h1>
    </div>
    <form
        name="EditForm"
        novalidate="novalidate"
        class="form-inline">
        <div>
				<br>
				<table>
				<tr>
				<td>
				Id
				</td>
				<td>
				{{ctrl.id}}
				</td>
				</tr>
				<tr>
				<td>
				&nbsp;
				</td>
				</tr>
				<tr>
				<td>
				UPC12&nbsp;&nbsp;
				</td>
				<td>
            <div
                class="form-group">
                <input
                    id="upc12"
                    class="form-control"
                    size="50"
                    type="text"
                    name="upc12"
                    ng-model="ctrl.upc12"
                    placeholder="">
				</div>
				</td>
				</tr>
				<tr>
				<td>
				Brand
				</td>
				<td>
            <div
                class="form-group">
                <input
                    id="brand"
                    class="form-control"
                    size="50"
                    type="text"
                    name="brand"
                    ng-model="ctrl.brand"
                    placeholder="">
				</div>
				</td>
				</tr>
				<tr>
				<td>
				Name
				</td>
				<td>
            <div
                class="form-group">
                <input
                    id="name"
                    class="form-control"
                    size="50"
                    type="text"
                    name="name"
                    ng-model="ctrl.name"
                    placeholder="">
				</div>
				</td>
				</tr>
				</table>
		  </div>
		  <br>
		  <div>
				<button
					type="button"
					class="btn btn-default form-control"
					ng-disabled="SearchForm.$invalid"
					ng-click="ctrl.cancel()">
					Cancel
				</button>
				<button
					type="button"
					class="btn btn-info form-control"
					ng-disabled="SearchForm.$invalid"
					ng-click="ctrl.save()">
					Save
				</button>
		  </div>
    </form>
